{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        code {
            position: absolute;
            top: 0;
            right: 0;
            color: white;
            background-color: transparent;
        }
        .card {
            color: #555;
        }
        .card .header {
            height: 200px;
            overflow: auto;
        }
        .card:hover {
            box-shadow: 0 4px 12px rgba(0,0,0,.4);
            transition: box-shadow 0.4s;
        }
        .grid {
            margin: 0 auto;
        }
        .grid-item {
            width: 300px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        {% if reports_in_progress is not empty %}
            <div class="block-header text-center">
                <h3>{{ 'reports.in_progress'|trans }}</h3>
            </div>
            <div class="grid">
                {% for report in reports_in_progress %}
                    <a href="{{ path('report_show', { reference: report.reference }) }}">
                        <div class="grid-item">
                            <div class="card">
                                <div class="header bg-camo bg-camo-2">
                                    <h4>{{ report.object }} <code>{{ report.reference }}</code></h4>
                                    <blockquote>
                                        {{ report.addressedTo|user_fullname }}
                                    </blockquote>
                                </div>
                                {{ include('report/_status.html.twig', { decision: report.lastDecision, show_comment: 'n' }) }}
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        {% endif %}
        {% if reports_unread is not empty %}
            <div class="block-header text-center">
                <h3>{{ 'reports.unread'|trans }}</h3>
            </div>
            <div class="grid">
                {% for report in reports_unread %}
                    <a href="{{ path('report_show', { reference: report.reference }) }}">
                        <div class="grid-item">
                            <div class="card">
                                <div class="header bg-camo bg-camo-2">
                                    <h4>{{ report.object }} <code>{{ report.reference }}</code></h4>
                                    <blockquote>
                                        {{ report.createdBy|user_fullname }}
                                    </blockquote>
                                </div>
                                <table class="table table-striped">
                                    <tbody>
                                    <tr>
                                        <th>{{ 'report.startedAtDate'|trans }}</th>
                                        <td>{{ report.startedAt|localizeddate('full', 'none') }}</td>
                                    </tr>
                                    <tr>
                                        <th>{{ 'report.startedAtTime'|trans }}</th>
                                        <td>{{ report.startedAt|localizeddate('none', 'short') }}</td>
                                    </tr>
                                    <tr>
                                        <th>{{ 'report.place'|trans }}</th>
                                        <td>{{ report.place }}</td>
                                    </tr>
                                    <tr>
                                        <th>{{ 'report.urgency.abbr'|trans }}</th>
                                        <td>{{ report.urgency|trans([], 'urgency') }}</td>
                                    </tr>
                                    <tr>
                                        <th>{{ 'report.classification.abbr'|trans }}</th>
                                        <td>{{ report.classification|trans([], 'classification') }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/vendor/masonry/dist/masonry.pkgd.min.js') }}"></script>
    <script>
        $('.grid').masonry({
            itemSelector: '.grid-item',
            columnWidth: 320,
            fitWidth: true
        });
    </script>
{% endblock %}