{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        code {
            position: absolute;
            top: 0;
            right: 0;
            color: white;
            background-color: transparent;
        }
        .card-received {
            height: 400px;
            overflow: auto;
            color: #555
        }
        .card-sent {
            height: 400px;
            overflow: auto;
        }
        .card:hover {
            box-shadow: 0 4px 12px rgba(0,0,0,.4);
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="block-header">
            <h2>{{ 'reports.in_progress'|trans }}</h2>
            {% if reports_in_progress is empty %}
                {{ 'reports.in_progress.0'|trans }}
            {% endif %}
        </div>
        <div class="row clearfix">
            {% for report in reports_in_progress %}
                <a href="{{ path('report_show', { reference: report.reference }) }}">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="card-sent">
                            <div class="card">
                                <div class="header bg-blue-grey">
                                    <h4>{{ report.object }} <code>{{ report.reference }}</code></h4>
                                    <blockquote>
                                        {{ report.addressedTo.username }}
                                    </blockquote>
                                </div>
                                <div class="body">
                                    {{ include('report/_status.html.twig', { decision: report.getLastDecision }) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
        <div class="block-header">
            <h2>{{ 'reports.unread'|trans }}</h2>
            {% if reports_unread is empty %}
                {{ 'reports.unread.0'|trans }}
            {% endif %}
        </div>
        <div class="row clearfix">
            {% for report in reports_unread %}
                <a href="{{ path('report_show', { reference: report.reference }) }}">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="card-received">
                            <div class="card">
                                <div class="header bg-blue-grey">
                                    <h4>{{ report.object }} <code>{{ report.reference }}</code></h4>
                                    <blockquote>
                                        {{ report.createdBy.username }}
                                    </blockquote>
                                </div>
                                <table class="table table-striped">
                                    <tbody>
                                    <tr>
                                        <th>{{ 'report.startedAtDate'|trans }}</th>
                                        <td>{{ report.startedAt|localizeddate('full', 'none') }}</td>
                                    </tr>
                                    <tr>
                                        <th>{{ 'report.startedAtTime'|trans }}</th>
                                        <td>{{ report.startedAt|localizeddate('none', 'short') }}</td>
                                    </tr>
                                    <tr>
                                        <th>{{ 'report.place'|trans }}</th>
                                        <td>{{ report.place }}</td>
                                    </tr>
                                    <tr>
                                        <th>{{ 'report.urgency.abbr'|trans }}</th>
                                        <td>{{ report.urgency }}</td>
                                    </tr>
                                    <tr>
                                        <th>{{ 'report.classification.abbr'|trans }}</th>
                                        <td>{{ report.classification }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}