{% extends "base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body_class %}login-page{% endblock %}

{% block body %}
<div class="login-box">
    <div class="logo">
        <a href="javascript:void(0);">6.5</a>
        <small>Digitized Form 06.005 dfi</small>
    </div>
    <form action="{{ path("fos_user_security_check") }}" method="post">
        <div class="card">
            <div class="body">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <div class="msg">
                    <ul class="list-inline">
                        {{ locale_switcher() }}
                    </ul>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">person</i>
                    </span>
                    <div class="form-line">
                        <input type="text" class="form-control" name="_username" value="{{ last_username }}" placeholder="{{ 'security.login.username'|trans }}" required autofocus>
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">lock</i>
                    </span>
                    <div class="form-line">
                        <input type="password" class="form-control" name="_password" placeholder="{{ 'security.login.password'|trans }}" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8 p-t-5">
                        <input type="checkbox" name="_remember_me" id="_remember_me" class="filled-in chk-col-pink" value="on">
                        <label for="_remember_me">{{ 'security.login.remember_me'|trans }}</label>
                    </div>
                    <div class="col-xs-4">
                        <button class="btn btn-block bg-pink waves-effect" type="submit">{{ 'security.login.submit'|trans }}</button>
                    </div>
                </div>
            </div>
        </div>
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        {% endif %}
    </form>
</div>
{% endblock %}


