{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/vendor/adminbsb-materialdesign/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css') }}">
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>{{ 'reports.sent'|trans }}</h2>
                    </div>
                    <div class="body">
                        <a href="{{ path('report_new') }}" class="btn btn-default btn-lg font-bold">{{ 'reports.new'|trans }}</a>
                        <table id="table-report" class="table table-bordered table-striped table-hover table-responsive">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>{{ 'reports.object'|trans }}</th>
                                    <th>{{ 'reports.startedAt'|trans }}</th>
                                    <th>{{ 'reports.addressedTo'|trans }}</th>
                                    <th>{{ 'reports.urgency'|trans }}</th>
                                    <th>{{ 'reports.classification'|trans }}</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/vendor/adminbsb-materialdesign/plugins/jquery-datatable/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('assets/vendor/adminbsb-materialdesign/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js') }}"></script>
    <script src="{{ asset('assets/vendor/adminbsb-materialdesign/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js') }}"></script>
    <script>
        $(document).ready(function(){
            var table = $('#table-report').DataTable({
                processing: true,
                serverSide: true,
                ajax: {
                    url: '{{ path('report_index_data') }}',
                    type: 'POST'
                },
                columns: [
                    { data: "reference" },
                    { data: "object" },
                    { data: "startedAt" },
                    { data: "addressedTo" },
                    { data: "urgency" },
                    { data: "classification" }
                ],
                'searching': false,
                'ordering': false,
                'lengthChange': false
            });
        });
    </script>
{% endblock %}