{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ 'report'|trans }} {{ report.reference }} - {{ report.object }}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h1>{{ 'report'|trans }} <span class="label label-default">{{ report.reference }}</h1>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-sm-8">
                                <p class="lead">{{ report.object }}</p>
                                <blockquote>
                                    <p>{{ report.message }}</p>
                                    <footer>{{ report.createdBy.username }}</footer>
                                </blockquote>
                            </div>
                            <div class="col-sm-4">
                                <table class="table table-striped">
                                    <tbody>
                                    <tr>
                                        <th>{{ 'report.isHierarchical'|trans }}</th>
                                        <td>
                                            {% if report.isHierarchical %}
                                                <i class="material-icons">done</i>
                                            {% else %}
                                                <i class="material-icons">remove</i>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>{{ 'report.startedAt'|trans }}</th>
                                        <td>{% if report.startedAt %}{{ report.startedAt|date('Y-m-d H:i') }}{% endif %}</td>
                                    </tr>
                                    <tr>
                                        <th>{{ 'report.place'|trans }}</th>
                                        <td>{{ report.place }}</td>
                                    </tr>
                                    <tr>
                                        <th>{{ 'report.urgency'|trans }}</th>
                                        <td>{{ report.urgency }}</td>
                                    </tr>
                                    <tr>
                                        <th>{{ 'report.classification'|trans }}</th>
                                        <td>{{ report.classification }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
