{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ 'report'|trans }} {{ report.reference }} - {{ report.object }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/vendor/adminbsb-materialdesign/plugins/bootstrap-select/css/bootstrap-select.min.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-sm-6">
                <div class="card">
                    <div class="header bg-red">
                        <h1>{{ 'report'|trans }} <code>{{ report.reference }}</code></h1>
                    </div>
                    <div class="body">
                        <p class="lead">{{ report.object }}</p>
                        <blockquote>
                            <p>{{ report.message }}</p>
                            <footer>{{ report.createdBy.username }}</footer>
                        </blockquote>
                    </div>
                </div>
                <div class="card">
                    <div class="header bg-red">
                        <h2>{{ 'infos'|trans }}</h2>
                    </div>
                    <div>
                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <th>{{ 'report.isHierarchical'|trans }}</th>
                                <td>
                                    {% if report.isHierarchical %}
                                        <i class="material-icons">done</i>
                                    {% else %}
                                        <i class="material-icons">remove</i>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>{{ 'report.startedAt'|trans }}</th>
                                <td>{% if report.startedAt %}{{ report.startedAt|date('Y-m-d H:i') }}{% endif %}</td>
                            </tr>
                            <tr>
                                <th>{{ 'report.place'|trans }}</th>
                                <td>{{ report.place }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'report.urgency'|trans }}</th>
                                <td>{{ report.urgency }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'report.classification'|trans }}</th>
                                <td>{{ report.classification }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
                <div class="col-sm-6">
                    {% if workflow_can(report, 'accept') and is_current_decider(report) %}
                        <div class="card">
                            <div class="header bg-red">
                                <h2>{{ 'decision'|trans }}</h2>
                            </div>
                            <div class="body">
                                {{ form_start(decision_form) }}
                                    {{ form_errors(decision_form) }}
                                    {{ form_row(decision_form.comment, { attr: { rows: 5 } }) }}
                                    <div class="text-center">
                                        <input type="submit" value="{{ 'decision.accept'|trans }}" name="accept" class="btn btn-success waves-effect btn-lg" />
                                        <a class="btn btn-warning waves-effect btn-lg" data-color="orange" data-toggle="modal" data-target="#modal-decision">{{ 'decision.transfert'|trans }}</a>
                                        <input type="submit" value="{{ 'decision.refuse'|trans }}" name="refuse" class="btn btn-danger waves-effect btn-lg" />
                                    </div>
                                    <div class="modal fade" id="modal-decision" tabindex="-1" role="dialog">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title" id="defaultModalLabel">{{ 'decision.transfert'|trans }}</h4>
                                                </div>
                                                <div class="modal-body">
                                                    {{ form_row(decision_form.transfertTo) }}
                                                </div>
                                                <div class="modal-footer">
                                                    <input type="submit" value="{{ 'decision.transfert'|trans }}" name="transfert" class="btn btn-link waves-effect" />
                                                    <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">{{ 'cancel'|trans }}</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {{ form_end(decision_form) }}
                            </div>
                        </div>
                    {% endif %}
                    <div class="card">
                        <div class="body">
                            {% for decision in report.decisions|reverse %}
                                {{ include('report/_status.html.twig') }}
                                {% if not loop.last %}
                                    <div class="text-center">
                                        <i class="material-icons">arrow_upward</i>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/vendor/adminbsb-materialdesign/plugins/bootstrap-select/js/bootstrap-select.min.js') }}"></script>
{% endblock %}